.container {
  background-color: #CFE795;
}
.container-fluid h1 {
  text-align: center;
  font-size: 80px;
}
.container-fluid {
  background-color: #8AAA79;
}
.jumbotron {
  background-color: #7BAA61;
}
body {
  font-family: 'Chelsea Market', cursive;
  color: #4E598C;
}
button {

}
